:root {
    --global-primary-color: #2F3136;
    --global-secondary-color: #36393F;
    --global-triple-color: #202225;
    --global-text-color: #FFF;
    --discord-blue: #738adb;
    --font-family: "Poppins", sans-serif;
}
main {
    display: flex;
}
.sidebar__server {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--global-triple-color);
}
.sidebar__server > .sidebar__list__icon {
    padding: 10px;
    margin: 7px;
    display: flex; align-items: center;
    border-radius: 999px;
    transition: .3s ease-in-out;
    background-color: var(--global-secondary-color);
    cursor: pointer;
}
.sidebar__server > .sidebar__list__icon:hover {
    fill: white;
    background-color: var(--discord-blue);
}
.sidebar__container {
    display: flex;
    flex-direction: column;
    flex: 0.3;
    height: 100vh;
    background-color: var(--global-primary-color);
}
.sidebar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--global-primary-color);
    color: var(--global-text-color);
    border-bottom: 3px solid #26282C;
}
.sidebar__top > h3 {
    font-size: 16px;
}
.sidebar__channels {
    flex: 1;
}
.sidebar__channelsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--global-primary-color);
    color: gray;
    margin: 0;
}
.sidebar__header {
    display: flex;
    align-items: center;
}
.sidebar__header > h4,
.sidebar__header > .MuiSvgIcon-root {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    cursor: pointer;
    transition: .3s;
}
.sidebar__header:hover,
.sidebar__addChannel:hover {
    color: var(--global-text-color);
}
.sidebar__addChannel {
    cursor: pointer;
}
.sidebarChannel > h4 {
    display: flex;
    font-weight: 500;
    font-size: 15px;
    padding-left: 15px;
    align-items: center;
    background-color: var(--global-primary-color);
    color: gray;
    cursor: pointer;
    margin: 5px 0;
}
.sidebarChannel > h4 >.MuiSvgIcon-root {
    padding: 8px;
    font-size: 16px;
    margin-left: 10px;
    color: lightgray;
}
.sidebarChannel__hash {
    padding: 8px;
    font-size: 20px;
}
.sidebarChannel:hover > h4 {
    transition: .2s ease-in-out;
    color: var(--global-text-color);
    background-color: var(--global-secondary-color);
}
.sidebar__voice,
.sidebar__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    background-color: var(--global-primary-color);
    padding: 10px;
    border-top: 1px solid gray;
}
.sidebar__profile {
    padding: 0 10px;
}
.sidebar__voiceInfo, 
.sidebar__profileInfo{
    flex: 1;
    padding: 10px;
}
.sidebar__voice > .MuiSvgIcon-root,
.sidebar__voiceIcons {
    color: #43B581;
}
.sidebar__voiceInfo > h3 {
    font-size: 16px;
    color: #43B581;
}
.sidebar__voiceInfo > p,
.sidebar__profileInfo > p {
    font-size: smaller;
}
.sidebar__voiceIcons > .MuiSvgIcon-root,
.sidebar__profileIcons > .MuiSvgIcon-root {
    padding: 6px;
    font-size: 19px;
    cursor: pointer;
}
.sidebar__profileInfo > h3 {
    color: var(--global-text-color);
    font-size: 14px;
}
.sidebar__profileIcons > .MuiSvgIcon-root:hover {
    color: var(--global-text-color);
    border-radius: 5px;
    background-color: var(--global-secondary-color);
}

/* Header */
.chat__container {
    display: flex;
    flex-direction: column;
    flex: 0.75;
    background-color: var(--global-secondary-color);
    height: 100vh;
}
.chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: 7.75px;
    border-bottom: 3px solid #26282C;
    position: relative;
}
.chatHeader__hash {
    color: gray;
    font-size: 20px;
    padding: 10px;
}
.chatHeader__left > h3 {
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
}
.chatHeader__right {
    display: flex;
    align-items: center;
    flex: 0.47;
    justify-content: space-between;
    margin-right: 20px;
}
.chatHeader__right > .MuiSvgIcon-root {
    padding: 5px;
    font-size: 23px;
    cursor: pointer;
    transition: .4s;
}
.chatHeader__right > .MuiSvgIcon-root:hover {
    color: var(--global-text-color);
    border-radius: 5px;
    background-color: var(--global-secondary-color);
}
.chatHeader__search {
    display: flex;
    align-items: center;
    color: gray;
    background-color: var(--global-primary-color);
    border-radius: 3px;
    padding: 3px;
}
.chatHeader__search > input {
    background: transparent;
    outline-width: 0;
    color: white;
    border: none;
}
.chatHeader__search > input::placeholder {
    font-family: var(--font-family);
}
.chat__input {
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 20px;
    background-color: #40444b;
}
.chat__inputIcons > .MuiSvgIcon-root {
    padding: 5px;
    font-size: 28px;
    cursor: pointer;
}
.chat__input > form > input {
    padding: 10px 0;
    background: transparent;
    border: none;
    outline-width: 0;
    color: white;
    font-size: medium;
    width: 90%;
}
.chat__input > form > input[type="text"] {
    font-family: var(--font-family);
    font-size: 16px;
}
.chat__input > form {
    flex: 1;
    margin-left: 10px;
}
.chat__input > form > input::placeholder {
    font-family: var(--font-family);
}
.chat__inputButton {
    display: none;
}
.chat__messages {
    flex: 1;
}